@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #121212;
  font-family: 'YuGothic', 'Yu Gothic', sans-serif;
}

img {
  width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a {
  color: #121212;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  opacity: 0.7;
}

.wrapper {
  max-width: 1240px;
  padding: 40px;
  margin: 0 auto;
}

.section-title {
  margin-bottom: 10px;
  text-align: center;
}

.section-title .text {
  font-size: 36px;
  font-weight: bold;
  display: inline-block;
  position: relative;
}

.section-title .text::before,
.section-title .text::after {
  content: "";
  width: 50px;
  height: 100%;
  position: absolute;
  top: -3px;
}

.section-title .img {
  max-width: 80px;
  display: block;
  margin: -10px auto 0;
}




/*-------------------------------------------
header
-------------------------------------------*/


/* site-header layout*/
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  width: 100%;
  height: 60px;
  line-height: 1;
  z-index: 10;
}

@media (min-width:768px) {
  .site-header {
    background: #f2f9fd;
    align-items: center;
    justify-content: space-between;
  }
}

.site-header .site-logo {
  background: #f2f9fd;
  font-size: 18px;
  margin: 0;
  padding: 20px 0 20px 20px;
  width: 100%;
}

@media (min-width:768px) {
  .site-header .site-logo {
    display: inline-block;
    width: 200px;
    padding: 0 0 0 20px;
  }
}

.site-header .site-nav {
  width: 100%;
}

@media (min-width:768px) {
  .site-header .site-nav {
    width: auto;
  }
}

.site-header .main-nav {
  display: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

@media (min-width:768px) {
  .site-header .main-nav {
    display: block;
    margin: 0;
    border-bottom: none;
    line-height: 0;
  }
}

.site-header .main-nav li {
  list-style: none;
}

.site-header .main-nav__item a {
  background: #f2f9fd;
  display: block;
  padding: 15px;
  border-top: 1px solid #ccc;
  font-size: 14px;
  color: #000;
  transition: all 0.6s;
  cursor: pointer;

}

@media (min-width:768px) {
  .site-header .main-nav__item a {
    border-top: none;
  }
}

.site-header .main-nav__item a:hover {
  background-color: #000;
  color: #fff;
}



/* hamburger switch */
.site-header input[type="checkbox"]:checked~.main-nav {
  display: block;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.site-header input[type="checkbox"]:checked~.main-nav__item {
  flex: 1;
  line-height: 0;
}

@media (min-width:768px) {

  .site-header input[type="checkbox"]:checked~.main-nav,
  .site-header input[type="checkbox"]~.main-nav {
    display: flex;
    flex-direction: row;
  }
}

/* hamburger icon */
.site-header .site-nav__toggle {
  display: none;
}

.site-header .site-nav__toggle-label {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
}

.site-header .site-nav__toggle-label span {
  display: block;
  width: 40px;
  height: 39px;
  background-color: #333;
  cursor: pointer;
}

.site-header .site-nav__toggle-label span span {
  display: block;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.site-header .site-nav__toggle-label span span::before,
.site-header .site-nav__toggle-label span span::after,
.site-header .site-nav__toggle-label span::after {
  position: absolute;
  left: 10px;
  content: "";
  width: 20px;
  height: 3px;
  background-color: #FFF;
}

.site-header .site-nav__toggle-label span span::before {
  top: 10px;
}

.site-header .site-nav__toggle-label span span::after {
  top: 18px;
}

.site-header .site-nav__toggle-label span::after {
  bottom: 10px;
}

@media (min-width:768px) {
  .site-header .site-nav__toggle-label {
    display: none;
  }
}

/* hamburger icon checked */
.site-header input[type="checkbox"]:checked~.site-nav__toggle-label span span::before {
  top: 19px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.site-header input[type="checkbox"]:checked~.site-nav__toggle-label span span::after {
  display: none;
}

.site-header input[type="checkbox"]:checked~.site-nav__toggle-label span::after {
  top: 19px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


/*-------------------------------------------
mainvisual
-------------------------------------------*/
.mainvisual {
  position: relative;
}

.mainvisual img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

/*-------------------------------------------
concept
-------------------------------------------*/
#concept {
  padding: 100px 0;
  position: relative;
  text-align: center;
}

#concept .title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}

#concept .text {
  line-height: 2.5;
  padding: 0 40px;
}

#concept .img {
  width: 95%;
  animation: swing 3s ease infinite;
  margin: 0 auto;
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  z-index: -10;
}


/*-------------------------------------------
service & works
-------------------------------------------*/
#service {
  background-color: #f2f9fd;
}

#service .item {
  display: flex;
  margin-bottom: 80px;
}

#service .item .img {
  max-width: 640px;
}

#service .item .text {
  max-width: 560px;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#service .item .text .content-title {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: center;
  text-align: center;
}

#service .item .text .content-title .title-img {
  width: auto;
  height: 130px;
  margin-right: 30px;
}

#service .item .text .content-title .title-text {
  font-size: 36px;
  margin-top: 25px;
}

#service .item .text .description {
  height: auto;
  line-height: 1.8;
  margin-bottom: 30px;
  overflow: hidden;
  text-align: justify;
  justify-content: center;
  text-align: center;
}

#service .item .text .btn {
  width: 140px;
  border: solid 1px #121212;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  font-size: 12px;
  padding: 8px 0;
  position: relative;
  text-align: center;
  margin: 0 auto;
  background: #fff;
}


h4 {
  font-size: 16px;
  line-height: 1;
  color: #121212;
  text-align: center;
  position: relative;
  margin-top: 7px;
  margin-bottom: 30px;
}

#service .color {
  max-width: 1500px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

/*-------------------------------------------
recruit
-------------------------------------------*/
#recruit {
  padding: 80px;
}

#recruit .item {
  display: flex;
  margin-bottom: 80px;
  justify-content: center;
}

#recruit img {
  border-radius: 50%;
  max-width: 70%
}

#recruit .item .img {
  max-width: 640px;
}

#recruit .item .text {
  max-width: 560px;
  padding: 0 6%;
}

#recruit .item .text .content-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
  text-align: center;
}

#recruit .item .text .content-title .title-img {
  width: auto;
  height: 130px;
  margin-right: 30px;
}

#recruit .item .text .content-title .title-text {
  font-size: 36px;
  margin-top: 25px;
}

#recruit .item .text .description {
  height: 80px;
  line-height: 1.8;
  margin-bottom: 30px;
  overflow: hidden;
  text-align: justify;
  justify-content: center;
  text-align: center;
}

#recruit .btn {
  max-width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffef00;
  border-radius: 15px;
  box-shadow: 0px 4px 0px 0px #aaa;
  font-weight: bold;
  padding: 20px 0;
  margin: 0 auto;
}

#recruit .btn .arrow {
  width: 20px;
  margin-right: 10px;
}

#recruit .btn:hover {
  transform: translateY(5px);
  box-shadow: none;
}

.img {
  text-align: right;
}







/*-------------------------------------------
contact
-------------------------------------------*/
#contact {
  background-color: #f2f9fd;
  padding: 150px 0;
  position: relative;
}

#contact .head-text {
  line-height: 1.8;
  margin-bottom: 40px;
  text-align: center;
}


/*-------------------------------------------
company
-------------------------------------------*/
#company {
  background-color: #fff;
  padding: 80px 0;
}

#company .inner {
  display: flex;
}

#company .info {
  font-size: 14px;
  margin-right: auto;
}

#company .info dt {
  font-weight: bold;
  margin-bottom: 5px;
}

#company .info dd {
  margin-bottom: 20px;
}

#company .map {
  width: 100%;
  max-width: 580px;
  height: 360px;
  margin: 0 40px;
}

#company .map iframe {
  width: 100%;
  height: 100%;
}

#company .item {
  display: contents;
}


/*-------------------------------------------
Footer
-------------------------------------------*/
#footer {
  background-color: #f2f9fd;
  padding: 0 20px 40px;
}

#footer .copyright {
  font-size: 10px;
  text-align: center;
}


/*-------------------------------------------
スマートフォン
-------------------------------------------*/
@media screen and (max-width: 768px) {
  .section-title {
    margin-bottom: 30px;
  }

  .section-title .text {
    font-size: 26px;
  }

  .section-title .text::before,
  .section-title .text::after {
    width: 25px;
    top: 3px;
  }

  .section-title .text::before {
    left: -35px;
  }

  .section-title .text::after {
    right: -35px;
  }


  /*-------------------------------------------
  concept
  -------------------------------------------*/
  #concept {
    padding: 40px 0;
  }

  #concept .title {
    font-size: 34px;
    margin: 40px;
  }

  #concept .text {
    font-size: 14px;
  }


  /*-------------------------------------------
  service & works
  -------------------------------------------*/
  #service {
    padding: 0 40px;
  }

  #service .item.service {
    flex-direction: column;
    margin-bottom: 60px;
  }

  #service .item.works {
    flex-direction: column-reverse;
    margin-bottom: 60px;
  }

  #service .item .img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  #service .item .text {
    max-width: 100%;
    padding: 0;
  }

  #service .item .text .content-title {
    margin-bottom: 20px;
  }

  #service .item .text .content-title .title-img {
    height: 80px;
    margin-right: 20px;
  }

  #service .item .text .content-title .title-text {
    font-size: 22px;
    margin-top: 20px;
  }


  /*-------------------------------------------
  recruit
  -------------------------------------------*/


  #recruit {
    padding: 40px;
  }

  #recruit .item.recruit {
    flex-direction: column;
    margin-bottom: 60px;
  }

  #recruit .item .img {
    max-width: 100%;
    margin-bottom: 20px;
    margin: 0 auto;
    text-align: center;
  }

  #recruit .item .text {
    max-width: 100%;
    padding: 0;
  }

  #recruit .item .text .content-title {
    margin-bottom: 20px;
  }

  #recruit .item .text .content-title .title-img {
    height: 80px;
    margin-right: 20px;
  }

  #recruit .item .text .content-title .title-text {
    font-size: 22px;
    margin-top: 20px;
  }


  /*-------------------------------------------
  contact
  -------------------------------------------*/
  #contact {
    padding: 100px 0 40px;
  }

  #contact .head-text {
    font-size: 14px;
    padding: 0 40px;
  }


  /*-------------------------------------------
  company
  -------------------------------------------*/
  #company {
    padding: 100px 0 40px;
  }

  #company .inner {
    flex-direction: column-reverse;
  }

  #company .info dd:last-child {
    margin-bottom: 0;
  }

  #company .map {
    height: 240px;
    margin: 0 auto;
  }


  /*-------------------------------------------
  Footer
  -------------------------------------------*/


}